.login-page {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #8d5882c4;
}

.login-card {
  width: 400px;
  padding: 30px;
  background: whitesmoke;
  border-radius: 10px;
}

.login-header {
  text-align: center;
  margin-bottom: 25px;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 8px;
}

.form-group input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.password-wrapper {
  display: flex;
  gap: 10px;
}

.password-wrapper input {
  flex: 1;
}

.password-wrapper button {
  padding: 10px;
  background-color:#9b14da;
  color: white;
  border-radius: 12px;
  cursor: pointer;
}

.login-card form > button {
  width: 100%;
  padding: 12px;
  background: #9b14da;
  color: white;
  border: none;
  border-radius: 12px;
  cursor: pointer;
}

.signup-section {
  text-align: center;
  margin-top: 20px;
}

.signup-section button {
  background: none;
  border: none;
  color: blue;
  cursor: pointer;
}

/* SIGN UP PAGE */

.signup-page {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #7c8eb3;
}

.signup-card {
  width: 400px;
  padding: 30px;
  background: whitesmoke;
  border-radius: 10px;
}

.signup-title {
  text-align: center;
}

.signup-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.signup-input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.password-container {
  display: flex;
  gap: 5px;
}

.password-input {
  flex: 1;
}

.password-button {
  padding: 10px;
  background-color: #2a5dc4;
  color: white;
  border-radius: 12px;
  cursor: pointer;
}

.signup-button {
  padding: 10px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  background-color:#2a5dc4 ;
  color: white;
}

.login-link-section{
  text-align: center;
  margin-top: 20px;
}

.login-link-button {
  background: none;
  border: none;
  color: blue;
  cursor: pointer;
}

/* DASHBOARD SECTION*/

.dashboard-page {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: seashell;

  background-size: cover;
}

.dashboard-card {
  width: 400px;
  padding: 30px;
  background: rgb(243, 210, 210);
  border-radius: 10px;
  text-align: center;
}

.dashboard-title {
  margin-bottom: 20px;
}

.dashboard-text {
  margin-bottom: 20px;
}

.dashboard-username {
  font-weight: bold;
}

.logout-button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: beige;
}